* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --spacing-xsmall: 4px;
  --spacing-small: 8px;
  --spacing-default: 16px;
  --spacing-medium: 24px;
  --spacing-large: 32px;
  --spacing-xlarge: 40px;

  --color-white: #ffffff;
  --color-button: #a6d13b;
  --color-shadow: #ccc;
}

.contato {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: var(--spacing-default);
  border-radius: var(--spacing-small);
}

.contato label {
  display: block;
  margin-bottom: var(--spacing-small);
  font-weight: bold;
}

.contato input,
.contato textarea,
.contato select {
  width: 100%;
  padding: var(--spacing-small);
  margin-bottom: var(--spacing-small);
  border: 1px solid var(--color-shadow);
  border-radius: var(--spacing-xsmall);
}

.contato input[type="submit"] {
  background-color: var(--color-button);
  color: var(--color-white);
  font-weight: bold;
  cursor: pointer;
}

.radio-group {
  display: flex;
  flex-direction: column;
}

.radio-group label {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-small);
}

.radio-group input[type="radio"] {
  width: var(--spacing-default);
  border: 2px solid var(--color-shadow);
  margin-right: var(--spacing-small);
}

.contato input[type="submit"]:hover {
  background-color: var(--color-button);
}

.col-1 textarea {
  height: 100px;
}

.contato select {
  margin-bottom: var(--spacing-default);
}

.contato input[type="radio"],
.contato input[type="checkbox"] {
  resize: vertical;
}

@media (max-width: 425px) {
}

@media (min-width: 426px) and (max-width: 768px) {
  .contato {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .col-1 {
    width: 100%;
  }

  .col-2 {
    width: 100%;
  }
  .contato {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    gap: 80px;
  }
}

@media (min-width: 1025px) {
  .col-1 {
    width: 100%;
  }

  .col-2 {
    width: 100%;
  }
  .contato {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    gap: 80px;
  }
}